// * ==========
// * VARIABLES
// * ==========

// * COLORS
$cadet-blue-crayola: hsl(240, 10%, 70%);
$independence: hsl(225, 24%, 27%);
$html-orange: hsl(12, 78%, 52%);
$css-blue: hsl(213, 68%, 41%);
$js-yellow: hsl(53, 93%, 54%);
$pinkish-purple: hsl(214, 23%, 56%);
$medium-purple: hsl(212, 29%, 36%);
$dark-purple: hsl(211, 53%, 11%);
$space-cadet: hsl(243, 23%, 18%);
$glaucous: hsl(230, 52%, 63%);
$manatee: hsl(254, 7%, 65%);
$rufous: hsl(2, 85%, 35%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// * TYPOGRAPHY
$ff-open-sans: "Open Sans", sans-serif;
$ff-barlow: "Barlow", sans-serif;
$ff-poppins: "Poppins", sans-serif;

$fs-1: 3.5rem;
$fs-2: 3rem;
$fs-3: 2.4rem;
$fs-4: 2rem;
$fs-5: 1.8rem;
$fs-6: 1.3rem;

$fw-600: 600;
$fw-700: 700;

// * BORDER RADIUS
$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;

// * SPACING
$section-padding: 60px;

// * SHADOW
$shadow: 0 -5px 10px var(--manatee);

// * TRANSITION
$transition-1: 0.05s ease;
$transition-2: 0.25s ease;
$cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
