@use "../variables" as *;

// -------------------------- \\
// * ABOUT
// --------------------------- \\

.abs-img,
.abs-icon {
  display: none;
}

.about {
  padding-block-start: 120px;
}

.about-banner {
  background: $independence;
  border-radius: $radius-10;
  margin-block-end: 30px;
}

.about-banner > .img-cover {
  border-radius: inherit;
}

.about :is(.section-title, .section-subtitle, .section-text) {
  text-align: left;
}

.about :is(.section-title, .section-text) {
  margin-block-end: 30px;
}

// -----------------\\
// * MEDIA QUERIES
// -----------------\\

@media (min-width: 992px) {
  .about {
    padding-block: 100px;
  }

  .about .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 80px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }

  .abs-img,
  .abs-icon {
    display: block;
    position: absolute;
  }

  .abs-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
    bottom: -150px;
    left: -100px;
  }

  .abs-icon {
    font-size: 5rem;
    padding: 20px;
    border-radius: inherit;
  }

  .abs-icon-1 {
    top: 50px;
    left: -120px;
    background: $html-orange;
  }
  .abs-icon-2 {
    top: -40px;
    left: -40px;
    background: $css-blue;
  }
  .abs-icon-3 {
    top: -90px;
    left: 250px;
    background: $js-yellow;
  }
}
