@use "../variables" as *;

// -------------------------- \\
// * SKILLS
// --------------------------- \\

.skills .section-title {
  margin-block-end: 20px;
}

.skills .section-text {
  margin-block-end: 70px;
}

.skills-list {
  display: grid;
  gap: 1rem;
}

.skills-item .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 10px;
}

.wrapper img {
  height: auto;
  width: 50px;
}

// -----------------\\
// * MEDIA QUERIES
// -----------------\\

@media (min-width: 400px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .skills-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
